body {
  font-family: system-ui;
  background: #232323;
  color: white;
  text-align: center;
}

$gray: #232323;

$sans: 'Source Sans Pro';

*, :before, :after{ box-sizing: border-box; }
body{ background: $gray; font-family: $sans; text-align: center; }
h1{ font-weight: 200; color: rgba(white, 0.2); padding-top: 3rem; }

body.light-theme {
  background: #ECEFF1;
    h4 {
  color: #333;
  }
}

body.dark-theme {
  background: #232323;
  h4 {
  color: #fff;
}
}


   
